.recommended{
    flex: 0 0 360px;
    max-width: 360px;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    flex-basis: 49%;
    width: 50%;
    border-radius: 5px;
}
.vid-info{
    flex-basis: 49%;
}
.vid-info h4{
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--text-color);
}
.vid-info p {
    color: var(--text-secondary);
    font-size: 12px;
}

@media (max-width: 900px) {
    .recommended {
        flex: 1 1 100%;
        max-width: 100%;
        margin-top: 10px;
    }
    .side-video-list img {
        flex-basis: 35%;
        width: 35%;
    }
    .vid-info {
        flex-basis: 62%;
    }
}

@media (max-width: 600px) {
    .recommended {
        padding: 0 10px;
    }
}