.play-container{
    background: var(--bg-color);
    padding: 20px 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    min-height: 100vh;
}

@media (max-width: 900px) {
    .play-container {
        flex-direction: column;
        padding: 10px 2%;
    }
}

@media (max-width: 600px) {
    .play-container {
        padding: 0;
        gap: 0;
    }
}
